.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logo {
  font-size: 24px;
  color: black;
}
.nav {
  display: flex;
  gap: 30px;
  font-size: 17px;
}
.link {
  padding: auto;
  color: black;
  padding: 12px;
}
.link__active {
  color: black;
  font-weight: bolder;
  background-color: rgba(199, 198, 198, 0.418);
  padding: 12px;
  border-radius: var(--border-radius-container);
}
.link:hover {
  background-color: rgba(199, 198, 198, 0.418);
  padding: 12px;
  border-radius: var(--border-radius-container);
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 40px;
  height: 40px;
}
.profile__img {
  width: 20px;
  height: 20px;
}
a.profile {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}
