body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
:root {
  --border-radius-container: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(199, 198, 198);
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: var(--border-radius-container);
}
.wrapper {
  padding: 20px;
}
