.dashbord {
  margin-top: 20px;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
.analitics {
  gap: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "total sold sold"
    "diagram sold sold"
    "diagram sold sold";
  height: 400px;
}
.analitic {
  background-color: white;
  border-radius: var(--border-radius-container);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.total {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  grid-area: total;
}
.total__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.total__title {
  font-size: 20px;
}
.diagram {
  grid-area: diagram;
}
.sold {
  grid-area: sold;
}
